.a {
    background-image: url("abstract-background-3840x3840-10319.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}
.header {
    background-color: rgb(0, 198, 253);
}
